<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>2048</title>
</head>
<body>
{% block content %}
{{ table }}
{% endblock content %}
<tr>
    <td>
        <form action="/play_the_game" method="POST">
          <input type="hidden" name="site" value="w">
          <button class="btn btn-default" type="submit" name="w" value="w">Up</button>
        </form>
        <form action="/play_the_game" method="POST">
          <input type="hidden" name="site" value="s">
          <button class="btn btn-default" type="submit" name="s" value="s">Down</button>
        </form>
        <form action="/play_the_game" method="POST">
          <input type="hidden" name="site" value="a">
          <button class="btn btn-default" type="submit" name="a" value="a">Left</button>
        </form>
        <form action="/play_the_game" method="POST">
          <input type="hidden" name="site" value="d">
          <button class="btn btn-default" type="submit" name="d" value="d">Right</button>
        </form>
    </td>
</tr>
</body>
</html>
