<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>2048</title>
</head>
<body>
{% block content %}
<table>
    <tr>
        <td>
            <form action="save_user_highscore" method="POST">
             <input type="hidden" name="h_score" value="{{ h_score }}">
             <input type="text" name="u_name" value="Anonymus">
             <button class="btn btn-default" type="submit">Save my score</button>
           </form>
        </td>
    </tr>
</table>
{% endblock content %}
</body>
</html>
